@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --font: "Montserrat", sans-serif; 
}

.montserrat {
    font-family: var(--font);
}

.bg-input-login {
    background-color: #00466A;
    opacity: 0.1;
}

.btn-blue {
    background-color: #00466A;
}